<div class="rightBox" id="registerBox">
    <div class="title"><span>注册</span></div>
    <div class="line"><span class="colDark">用户名：</span><input type="text" name="username"></div>
    <div class="line"><span class="colDark">密码：</span><input type="password" name="password"></div>
    <div class="line"><span class="colDark">确认：</span><input type="password" name="repassword"></div>
    <div class="line"><span class="colDark"></span>
        <button>注 册</button>
    </div>
    <p class="textRight">已有账号？<span class="colMint" (click)="toggle('login')">马上登录</span></p>
    <p class="colWarning textCenter"></p>
</div>