{% extends './layout.html' %}

{%block main%}
<ol class="breadcrumb">
  <li><a href="/admin">管理系统</a></li>
  <li><span class="">分类管理</span></li>
</ol>
<table class="table table-hover">
	<thead>
		<tr>
			<th>分类ID</th>
			<th>分类名称</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>

		{% for catepory in catepories %}
		<tr>
			<td>{{ catepory._id.toString() }}</td>
			<td>{{ catepory.name }}</td>
			<td>
				<a href="/admin/catepory/edit?id={{ catepory._id.toString() }}">修改</a> | <a href="/admin/catepory/delete?id={{ catepory._id.toString() }}">删除</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table> 
{% include './page.html' %}
{%endblock%}
